#dashboardHeader {
	background-color: #666666;
	width: 100%;
	height: 60px;
	position: absolute;
}
#dashboardHeaderUser {
	float: right;
	color: white;
	text-align: right;
	padding: 10px;
}

#dashboardTable {
	display: table;
	height: 100%;
	width: 100%;
}


/* MENU */
#dashboardMenu {
	display: table-cell;
	vertical-align: top;
	width: 200px;
	background-color: #dddddd;
	padding-top: 60px;
}
.dashboardMenuItem {
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}
.dashboardMenuItem:hover {
	cursor: pointer;
	background-color: #eeeeee;
}

#addCompetitor {
	width: 180px;
	margin: 10px;
}


/* CONTENU */
#dashboardContent {
	display: table-cell;
	padding: 70px 10px 10px 10px;
}

/*header competitor*/
#competitorActions {
	float: right;
}
#competitorName {
	margin: 0px;
}

/**
*	Formulaire ajout concurrent
*/
#addCompetitorForm {
	padding: 10px;
}
#addCompetitorForm input {
	width: 178px;
}
#addCompetitorForm button {
	margin-top: 10px;
}

/**
*	Ajout de connecteur
*/
.addConnectorChoice {
	background-color: #eeeeee;
	margin: 0px 0px 10px 0px;
	padding: 10px;
}
.addConnectorChoiceButton:hover {
	cursor: pointer;
	text-decoration: underline;
}

.addConnectorInputDiv {
	padding-bottom: 10px;
}
.inputDescription {
	color: #aaaaaa;
	font-size: 0.85em;
}
.addConnectorInput {
	width: 300px;
}