#dashboardTable {
	display: table;
	height: 100%;
	width: 100%;
}


/* MENU */
#dashboardMenuHeader {
	border-bottom: 1px solid #616161;
}
#dashboardMenuHeaderName {
	padding: 6px 5px 0px 60px;
}
#dashboardMenuHeaderName a {
	color: #cccccc;
}
#userAvatar {
	width: 50px;
	height: 50px;
	float: left;
}
#dashboardMenu {
	display: table-cell;
	vertical-align: top;
	width: 230px;
	background-color: #666666;
	color: #eeeeee;
}
.dashboardMenuItem {
	border-bottom: 1px solid #616161;
	padding: 10px;
}
.dashboardMenuItem:hover {
	cursor: pointer;
	background-color: #707070;
}

#addCompetitor {
	width: 210px;
	margin: 10px;
}


/* CONTENU */
#dashboardContent {
	display: table-cell;
}

/*header competitor*/
#competitorHeader {
	background-color: #eeeeee;
	padding: 10px;
}
#competitorActions {
	float: right;
}
#competitorName {
	margin: 0px;
}
#competitorDashboard {
	padding: 10px;
}

/**
*	Formulaire ajout concurrent
*/
#addCompetitorForm {
	padding: 10px;
}
#addCompetitorForm input {
	width: 208px;
}
#addCompetitorForm button {
	margin-top: 10px;
}

/**
*	Ajout de connecteur
*/
#addConnectorForm {
	margin: 0px;
}
.addConnectorChoice {
	background-color: #eeeeee;
	margin: 0px 0px 10px 0px;
	padding: 10px;
}
.addConnectorChoiceButton:hover {
	cursor: pointer;
	text-decoration: underline;
}

.addConnectorInputDiv {
	padding-bottom: 10px;
}
.inputDescription {
	color: #aaaaaa;
	font-size: 0.85em;
}
.addConnectorInput {
	width: 300px;
}

#cancelAddCompetitor {
	color: #cccccc;
}

/**
*	VOIR UN CONNECTEUR
*/
.connectorDisplay {
	padding-bottom: 15px;
}
.deleteConnector {
	float: right;
}

.connectorLoading {
	background-color: #f4f4f4;
	border: 1px solid #eeeeee;
	text-align: center;
	padding: 50px;
}