#logoDiv {
	text-align: center;
	margin-top: 100px;
}
#logoDiv img {
	width: 100px;
	height: 100px;
}

/* LOG IN */
#logInForm {
	margin: 20px auto 100px auto;
	width: 260px;
	background-color: #eeeeee;
	padding: 20px;
}
#logInForm input {
	width: 260px;
}

#logInForm button {
	margin-top: 20px;
}

/* SIGN IN */
#signInForm {
	margin: 20px auto 100px auto;
	width: 260px;
	background-color: #eeeeee;
	padding: 20px;
}
#signInForm input {
	width: 260px;
}

#signInForm button {
	margin-top: 20px;
}

/* erreur */
.formError {
	color: red;
}